.slick-next{
    right: 10px !important;
}
.slick-prev{
    left: 10px !important;
    z-index: 999;
}
.slick-dots{
    bottom: 5px !important;
}

.slick-dots li.slick-active button:before{
    color: red !important;
}
.slick-dots li button:before{
    color: blue !important;
    font-size: 12px !important
}